<!-- BANNER -->
<div id="banner">
  <div class="banner" id="accordion">
    <!-- TEXT&LINK -->
    <div class="container text-center">
      <div class="row-fluid call-to-action text-center">
          <h2 class="section-heading">{{ site.t[page.lang].banner-team.title }}</h2>
          <p>{{ site.t[page.lang].banner-team.description }}</p>
          <p>
          <a class="btn dmbutton btn-xl wow pulse" data-wow-delay=".6s" title="contacta con DISID" href="mailto:rrhh@disid.com">{{ site.t[page.lang].banner-team.call-to-action }}</a>
          </p>
      </div>
    </div>
  </div>
</div>
<!-- /.banner -->