
  <!-- Bootstrap Core JavaScript -->
  <script src="{{"/js/min/bootstrap.min.js"  | prepend: site.baseurl | prepend: site.url }}"></script>

  <!-- JS CDNs -->
  <script src="http://vjs.zencdn.net/5.4.6/video.min.js"></script>

  <!-- JS Locals -->
  <script src="{{"/js/min/modernizr-2.8.3-respond-1.4.2.min.js"  | prepend: site.baseurl | prepend: site.url }}"></script>
  <script src="{{"/js/min/retina.min.js"  | prepend: site.baseurl | prepend: site.url }}"></script>
  <script src="{{"/js/min/jquery.waypoints.min.js"  | prepend: site.baseurl | prepend: site.url }}"></script>
  <script src="{{"/js/min/flickity.pkgd.min.js"  | prepend: site.baseurl | prepend: site.url }}"></script>

  <!-- Menu on scroll -->
  <script src="{{"/js/cbpAnimatedHeader.js" | prepend: site.baseurl | prepend: site.url }}"></script>

  <!-- Animation scripts -->
  <script src="{{"/js/typewriter.js" | prepend: site.baseurl | prepend: site.url }}"></script>

  <!-- Js master -->
    <!-- start-smoth-scrolling -->
    <script src="{{"/js/JiSlider.js" | prepend: site.baseurl | prepend: site.url }}"></script>
    <script>
        $(window).load(function () {
          //$('#JiSlider').JiSlider({color: '#fff', start: 3, reverse: true}).addClass('ff')
        })
      </script>
    <!-- stats -->
    <!-- <script src="js/jquery.waypoints.min.js"></script> -->
    <script src="{{"/js/jquery.countup.js" | prepend: site.baseurl | prepend: site.url }}"></script>
      <script>
        $('.counter').countUp();
      </script>
    <!-- //stats -->
    <!-- flexSlider -->
    <script src="{{"/js/jquery.flexslider.js" | prepend: site.baseurl | prepend: site.url }}"></script>
    <script type="text/javascript">
      $(window).load(function(){
        $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
        });
      });
    </script>
  <!-- //flexSlider -->

  <!-- JS init -->
  <script src="{{"/js/scripts.js" | prepend: site.baseurl | prepend: site.url }}"></script>

  <!-- Cookies consent -->
	{% if site.google_analytics %}
	<script>
	    $(document).ready(function () {
	      console.log("Cookies consent loaded");
	      $.cookieCuttr();
	    });
	</script>
	{% endif %}

