<section class="alternate-bg text-center contact-wrap has-padding" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4 class="arrow">{{ site.t[page.lang].master.contact }}</h4>
      </div>
    </div>
    <div class="row contact-details">
      <div class="col-md-3">
        <div class="light-box box-hover">
          <i class="fa fa-map-marker fa-3x"></i>
          <span>{{ site.t[page.lang].adress }}</span>
          <p>{% for line in site.address.first.lines %}
                {{ line }} <br>
            {% endfor %}</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="light-box box-hover">
          <i class="fa fa-phone fa-3x"></i>
          <span>{{ site.t[page.lang].phone }}</span>
          <p><br> {{ site.tel }}</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="light-box box-hover">
          <i class="fa fa-envelope-o fa-3x"></i>
          <span>Email</span>
          <p><br> <a class="email" href="mailto:{{ site.t[page.lang].master.email }}">{{ site.t[page.lang].master.email }}</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="light-box box-hover">
          <i class="fa fa-twitter fa-3x"></i>
          <span>{{ site.t[page.lang].master.socialmedia }}</span>
          <p><br>
          <a href="https://twitter.com/{{ site.t[page.lang].master.twitter }}" title="Ir al perfil en twitter" target="_blank">
              @{{ site.t[page.lang].master.twitter }}</a></p>
        </div>
      </div>
    </div>
  </div>
</section>