
<!-- Navigation -->

<!-- TODO navbar-fixed-top -->
  <div class="container-fluid navbar-shrink">
    <div class="row-fluid">
      <div class="header-nav-wrapper">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="primary-nav-wrapper pull-left">
          <nav>
            <ul class="primary-nav ">
	               {% for link in site.master-links[page.lang] %}
	                    <li>
	                      <a class="page-scroll" href="{{ link[1].url }}">{{ link[1].title }}</a>
	                    </li>
	              {% endfor %}
            </ul>
          </nav>
        </div>
        <a class="btn dmbutton btn-xl wow pulse pull-right page-scroll openForm" data-wow-delay=".6s" href="#accordion">
            {{ site.t[page.lang].master.button-info }}
        </a>
      </div>
    </div>

  </div>