    <!-- ****** TESTIMONIAL ****** -->
    <section id="" class="content">

        <!-- BANNER -->
        <div class="statsMaster" id="statsMaster">
            <div class="container">
            <div class="banner-text">
            <div class="col-md-10 col-md-offset-1">
              <h3>La educación es el arma más poderosa que puedes usar para cambiar el mundo</h3>
            </div>
          <div class="clearfix"> </div>
        </div>
         </div>
      </div>

      <!-- TESTIMONIALS -->
      <div class="testimonials">
    <div class="col-md-6 w3layouts_event_left nopadding">
      <img src="{{ site.url | prepend: site.baseurl }}/img/master/testimonials.jpg" alt=" " class="img-responsive" />
    </div>
    <div class="col-md-6 w3layouts_event_right">
      <h3>Qué dicen del máster</h3>
      <section class="slider">
        <div class="flexslider">
          <ul class="slides">
            <li>
              <div class="w3_event_right_grid">
                <div class="w3layouts_event_right_para">
                  <p>Si tienes una mente inquieta y deseas formarte en uno de los mejores Máster que existen
                  en el mercado a un precio insuperable te lo recomiendo. Los alumnos se capacitan para
                  formar parte de un equipo de desarrollo Java en cualquier
                  empresa del sector TIC y poder ser productivos/as desde el primer día de trabajo.</p>
                  <div class="w3layouts_event_right_para_pos">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="w3_agile_event_right_grids">
                  <div class="col-xs-8 w3_agile_event_right_grid_right">
                    <h4>Jorge Edo Juan</h4>
                    <p>Trainer Oficial Axelos ITIL</p>
                  </div>
                  <div class="clearfix"> </div>
                </div>
              </div>
            </li>
            <li>
              <div class="w3_event_right_grid">
                <div class="w3layouts_event_right_para">
                  <p>Será, sin duda, una de las mejores
                  decisiones que puede tomar un profesional de ámbitos diferentes a las TIC (arquitectos, ingenieros industriales, matemáticos, etc.)
                  respecto a su formación profesional, ya que el máster le dará acceso a un sector profesional lleno de oportunidades y
                  donde la tasa de empleo es prácticamente del 100%.</p>
                  <div class="w3layouts_event_right_para_pos">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="w3_agile_event_right_grids">
                  <div class="col-xs-8 w3_agile_event_right_grid_right">
                    <h4>Enrique Ruiz</h4>
                    <p>Subdirector del Máster</p>
                  </div>
                  <div class="clearfix"> </div>
                </div>
              </div>
            </li>
            <li>
              <div class="w3_event_right_grid">
                <div class="w3layouts_event_right_para">
                  <p>Al fin un máster realista, efectivo y equilibrado incluye prácticas en empresa en proyectos reales.
Incluye preparación para obtener 7 certificaciones oficiales efectividad total para obtener el
reconocimiento en el mercado laboral.</p>
                  <div class="w3layouts_event_right_para_pos">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="w3_agile_event_right_grids">
                  <div class="col-xs-8 w3_agile_event_right_grid_right">
                    <h4>Jorge Sánchez</h4>
                    <p>Trainer Oficial Scrum Manager</p>
                  </div>
                  <div class="clearfix"> </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </div>
    <div class="clearfix"> </div>
  </div>


    </section>


