<section id="about" class="content has-padding">
 <div class="container">
 <div class="page-body col-md-10 col-md-offset-1">

  <div class="col-sm-6">
  {% assign collection=site.master-about | where:"lang", page.lang %}
        {% for post in collection %}
        {% if post.categories contains 'about' limit:include.limit %}
      <div class="">
        <h3 class="sub-title">{{ post.title }}</h2>
        {% if post.description %}
          <h2>{{ post.description }}</h2>
        {% endif %}
      </div>
      <div>
           {{ post.content }}
      </div>
     {% endif %}
        {% endfor %}
  </div>
  <div class="col-sm-6">
    <div class="text-center">
      <img src="{{ site.url | prepend: site.baseurl }}/img/master/{{ site.master-worktool }}">
    </div>
  </div>
</div>
</div>
</section>