    <!-- ******WHY ****** -->
    <section id="why" class="content has-padding master">
        <div class="container">
        <div class="page-body col-sm-10 col-sm-offset-1">

          <div class="row">
            <div class="col-md-6">
              <h2 class="">{{ site.t[page.lang].master-why.section-heading }}</h2>
            </div>
          </div>

            <div class="row">
                {% assign collection=site.master-why | where:"lang", page.lang %}
                {% for post in collection %}
                  {% if post.categories contains 'why' limit:include.limit %}
                  <div class="item col-xs-12 col-sm-4">
                    <div class="icon-holder">
                        <i class="wow bounceIn fa-2x fa {{ post.icon }} pull-left" data-wow-delay=".{{ post.icon-delay }}"></i>
                        <h3 class="sub-title">{{ post.title }}</h3>
                    </div>
                    <div class="content">
                        {{ post.content }}
                    </div><!--//content-->
                  </div><!--//item-->
                  {% endif %}
                {% endfor %}
                <div class="clearfix visible-md"></div>

            </div><!--//row-->

        </div>
        </div><!--//container-->
<div class="clearfix"></div>
    </section><!--//about-->


