<!-- ****** TESTIMONIAL ****** -->
<section id="students" class="content has-padding">
    <div class="container">
      <div class="col-md-7 w3_agileits_banner_bottom_left nopadding">
        <img src="{{ site.url | prepend: site.baseurl }}/img/master/students.jpg" alt="" class="img-responsive" />
      </div>
      <div class="col-md-3 w3_agileits_banner_bottom_right nopadding">
        <div class="w3_agileits_banner_bottom_right_pos">
          <h3>A quién nos dirigimos</h3>
          <h2>Perfil del alumno</h2>
          <p>Para cualquier perfil, tanto si es un profesional con formación en
          informática como si carece de conocimientos técnicos.<br>
          El alumno/a sólo debe tener conocimientos en programación, saber leer textos
          técnicos en inglés y disponer de 12 horas semanales fuera del tiempo lectivo.</p>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="container" style="margin-top: 5em">
        <div class="row">
            <div class="page-body col-md-10 col-md-offset-1" itemprop="description">
                <div class="text-center">
                  <a title="{{ site.t[page.lang].master.button-info }}" class="btn secondary wow pulse page-scroll openForm" data-wow-delay=".6s"
                       href="#accordion">
                          {{ site.t[page.lang].master.button-info }}
                      </a>
                </div>
            </div>
        </div>
   </div>

</section>


