<section class="alternate-bg text-center contact-wrap content" id="teachers">
    <div class="container">

    <div class="page-body col-md-10 col-md-offset-1">

        <div class="row">
              <h2 class="text-left">{{ site.t[page.lang].master-teachers.section-heading }}</h2>
              <p class="text-muted">{{ site.t[page.lang].master-teachers.description }}</p>
        </div>

	      <div class="row">
            {% for teacher in site.teachers[page.lang] limit: 3 %}
                <div class="col-xs-6 col-sm-4 text-center">
                  {% if teacher.url %}
                   <a href="{{ teacher.url }}" target="_blank" title="{{ teacher.title }}">
                    <img src="{{ site.url }}{{ site.ASSET_PATH  | prepend: site.baseurl }}/img/teachers/{{ teacher.img }}" class="img-circle">
                   </a>
                  {% else %}
                   <img src="{{ site.url }}{{ site.ASSET_PATH  | prepend: site.baseurl }}/img/teachers/{{ teacher.img }}" class="img-circle">
                  {% endif %}
                   <h5>{{ teacher.name }}</h5>
                   <p>{{ teacher.title }}</p>
                   <p>{{ teacher.job }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            {% for teacher in site.teachers[page.lang] limit: 4 offset: 3 %}
                <div class="col-xs-6 col-sm-3 text-center">
                  {% if teacher.url %}
                   <a href="{{ teacher.url }}" target="_blank" title="{{ teacher.title }}">
                    <img src="{{ site.url }}{{ site.ASSET_PATH  | prepend: site.baseurl }}/img/teachers/{{ teacher.img }}" class="img-circle">
                   </a>
                  {% else %}
                   <img src="{{ site.url }}{{ site.ASSET_PATH  | prepend: site.baseurl }}/img/teachers/{{ teacher.img }}" class="img-circle">
                  {% endif %}
                   <h5>{{ teacher.name }}</h5>
                   <p>{{ teacher.title }}</p>
                   <p>{{ teacher.job }}</p>
                </div>
            {% endfor %}
        </div>



        <div class="row">
          <div class="text-center">
           <a title="{{ site.t[page.lang].master.button-info }}" class="btn secondary wow pulse page-scroll openForm" data-wow-delay=".6s"
                       href="#accordion">
                          {{ site.t[page.lang].master.button-info }}
                      </a>
          </div>
        </div>

    </div>

    </div><!--/container -->
</section>