<section class="has-padding" id="technologies">
    <div class="container">
	      <div class="row">
	        <div class="col-md-4 col-sm-4">
	          <h4>{{ site.t[page.lang].technologies.section-heading }} <br></h4>
	        </div>
	        <div class="col-md-8 col-sm-8">
	            <p class="text-muted">{{ site.t[page.lang].technologies.description }}</p>
	        </div>
	      </div>
	      <div class="row">
            {% for technology in site.technologies limit: 4 %}
                <div class="col-xs-6 col-sm-3">
                   <a href="{{technology.url}}" target="_blank" title="{{technology.title}}">
                    <img src="{{ site.url }}{{ site.ASSET_PATH  | prepend: site.baseurl }}/img/technologies/{{ technology.img }}" class="img-responsive">
                   </a>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            {% for technology in site.technologies limit: 4 offset: 4 %}
                <div class="col-xs-6 col-sm-3">
                   <a href="{{technology.url}}" target="_blank" title="{{technology.title}}">
                    <img src="{{ site.url }}{{ site.ASSET_PATH  | prepend: site.baseurl }}/img/technologies/{{ technology.img }}" class="img-responsive">
                   </a>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            {% for technology in site.technologies limit: 4 offset: 8 %}
                <div class="col-xs-6 col-sm-3">
                   <a href="{{technology.url}}" target="_blank" title="{{technology.title}}">
                    <img src="{{ site.url }}{{ site.ASSET_PATH  | prepend: site.baseurl }}/img/technologies/{{ technology.img }}" class="img-responsive">
                   </a>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            {% for technology in site.technologies limit: 4 offset: 12 %}
                <div class="col-xs-6 col-sm-3">
                   <a href="{{technology.url}}" target="_blank" title="{{technology.title}}">
                    <img src="{{ site.url }}{{ site.ASSET_PATH  | prepend: site.baseurl }}/img/technologies/{{ technology.img }}" class="img-responsive">
                   </a>
                </div>
            {% endfor %}
        </div>
    </div><!--/container -->
</section>