<section id="job-works" class="">
 <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <h4>{{ site.t[page.lang].master-jobs.section-heading }} <br></h4>
          </div>
          <div class="col-md-8 col-sm-8">
              <p class="text-muted">{{ site.t[page.lang].master-jobs.description }}</p>
          </div>
        </div>
 </div>
 <div class="container tall">
  <!-- SELECTOR TABS  -->
  <ul class="nav nav-tabs" role="tablist">
    {% assign collection=site.master-job | where:"lang", page.lang %}
        {% for post in collection %}
        {% if post.categories contains 'job' limit:include.limit %}
        <li role="presentation" class="col-sm-6 {% if post.active %}active{% endif %}">
          <a href="#{{ post.href }}" role="tab" data-toggle="tab">
            {{ post.title }}
          </a>
        </li>
        {% endif %}
        {% endfor %}
  </ul>

   <!-- Tab panes -->
  <div class="tab-content">
  {% assign collection=site.master-job | where:"lang", page.lang %}
        {% for post in collection %}
        {% if post.categories contains 'job' limit:include.limit %}
    <div role="tabpanel" class="tab-pane {% if post.active %}in active{% endif %}" id="{{ post.href }}">
      <div class="row">
      <div class="col-sm-12">
        <h2>{{ post.description }}</h2>
      </div>
      </div>
      <div class="row">
           {{ post.content }}
      </div>
    </div>
     {% endif %}
        {% endfor %}
  </div>

</div>
</section>